<!DOCTYPE html>
<html>
  <header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css" />
    <title>{{title}}</title>
  </header>
  <body>
    <div>
      <nav>
        <h1><a href="/">Welcome To Blogz</a></h1>
        <ul>
          <li><a href="/blog">Rad Posts</a></li>
          <li><a href="/newpost">Add a Rad Post</a></li>
          <li><a href="/logout">I'm Done, Logout</a></li>
          <li><a href="/login">Let's Rock, Login</a></li>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
